body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
 
  .container {
    text-align: left; /* 左对齐 */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 水平居中对齐 */
  }
  
  h1{
    margin-bottom: 30px;
  }
  .label-container {
    display: flex;
    align-items: center; /* 水平和垂直居中对齐 */
    margin-bottom: 2px; /* 垂直间距 */
  }
  
  .label-container label{
    width: 200px;
  }

  .input-number {
    width: 200px; /* 调整文本框宽度 */
    padding: 5px;
  }
  
  .add {
    font-size: 3.5em;
    margin: 5px 10px 5px 290px; /* 调整“+”的间距 */
  }
  
  .btn-submit, .btn-binary, .btn-clear{
    margin-top: 10px; /* 调整按钮的上边距 */
    margin: 30px 10px 5px 230px;
    font-size: 1em; /* 设置按钮的字体大小 */
    color: white;
    padding: 10px 20px; 
    border: none; /* 去除按钮边框 */
    border-radius: 5px; /* 设置按钮的边框圆角 */
    cursor: pointer; /* 添加指针样式 */
    width: 150px;
  }

  .btn-submit{
    background-color: #4CAF50;
  }
  .btn-binary{
    /* margin: 50px 10px 5px 252px; */
    background-color: rgb(209, 93, 112);
  }
  .btn-clear{
    background-color: red;
  }
h2{
  margin-bottom: 5px;
}